:root {
    /* Color Palette - Spiced*/
    --dark-brown: #3c2f2f;
    --red: #854442;
    --brown:#4b3832;
    --light-brown: #be9b7b;
    --white: #fff4e6;
    --background-red: rgba(190, 155, 123, 0.4);
    /* Typography */
    --font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-secondary: "Open Sans", Arial, sans-serif;
    }

body {
    background-color: var(--white);
    font-family: var(--font-secondary);
    color: var(--brown);
    margin: 0;
    padding: 0;
    justify-content: center;
}


.task-title {
    flex-basis: 100%;
    margin: 40px;
    text-align: center;
}

.header-wrapper {
    width: 100%;
    display: block;

}

/* Navigation Bar */
.navbar {
    background-color: var(--dark-brown);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: #fff;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar nav a {
    color: #fff;
    font-family: var(--font-primary);
    margin-left: 1rem;
    text-decoration: none;
}



/* Task board layout using grid */
.task-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
}

.task-column {
    background-color: var(--brown); 
    border-radius: 8px;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.task-column h3 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-size: 1.5em;
}

/* Task cards styling */
.task-card {
    background-color: var(--light-brown); 
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid var(--dark-brown);
    margin-top: 10px;
    transition: 0.3s;
    cursor: grab;

    word-wrap: break-word;   
    overflow-wrap: break-word;
    white-space: normal;  

    opacity: 1 !important;
    transform: none !important;
    z-index: 9999; 

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.task-card:hover {
    background-color: var(--red);
}

.task-card h4 {
    font-size: 1.2em;
    margin: 0;
}

.task-card p {
    font-size: 0.9em;
}

.task-card[draggable="true"]:active,
.task-card[draggable="true"]:focus {
    opacity: 1 !important;
    transform: none !important;
}



/* Header for each column (status) */
.status-header {
    background-color: var(--light-brown);
    padding: 10px;
    border-radius: 6px;
    color: var(--dark-brown);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Add a new task button */
.new-task {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

}

.new-task:hover {
    display: block;
}

/* Button Styles */
.button {
    background-color: var(--red);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-family: var(--font-primary);
    border-radius: 5px;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--light-brown);
    color: var(--dark-brown);
}


/* Loading screen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Makes sure it's on top of other elements */
    font-size: 24px;
    color: #333;
    display: none; /* Hidden by default */
}


/* Login Box */
#login-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 320px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}


/* Input Group */
.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 90%;
    height: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #aaa;
    transition: 0.3s;
    pointer-events: none;
}

/* Move label up when typing */
.input-group input:focus + label,
.input-group input:valid + label,
.input-group input:not(:placeholder-shown) + label,
.input-group input:-webkit-autofill + label {
    top: -11px;
    font-size: 12px;
    color: var(--light-brown);
}

.input-group input:focus {
    border-color: var(--light-brown);
}

/* Login Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: var(--brown);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: var(--light-brown);
}

/* Signup Link */
.signup-link {
    margin-top: 1rem;
    font-size: 14px;
}

.signup-link a {
    transition: 0.3s;
    color: var(--light-brown);
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    transition: 0.3s;
    color: var(--dark-brown);
    text-decoration: underline;
}

/* Task Editor */

.task-editor {
    position: fixed;
    top: 0;
    right: -100%; /* Start off-screen */
    width: 50%;
    height: 100%;
    background: var(--white);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.2s ease-in-out;
    padding: 20px;
    flex-direction: column;
    max-width: 1000px;
}

#task-title {
    background-color: var(--white);
    margin-top: 10px;
    border: 0;
    width: 90%;
    height: auto;
    max-width: 500px;
    font-family: var(--font-secondary);
    font-size: 32px;
    outline: none;
    margin-bottom: 20px;
}

#task-title::placeholder {
    font-family: var(--font-secondary);
    font-size: 32px;
}

textarea {
    background-color: var(--white);
    margin-top: 10px;
    padding: 10px;
    border: 0;
    width: 90%;
    max-width: 500px;
    font-family: var(--font-secondary);
    outline: none;
}

#due-date {
    background-color: var(--white);
    border: 0;
    font-family: var(--font-secondary);
    height: auto;
    outline: none;
}

.task-editor.show {
    right: 0; 
}

.edit-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-container h5 {
    margin: 0;
    margin-left: 2px;
}

.edit-container input {
    margin: 0;
    margin-top: 2px;
    transition: 0.3s;
}

.edit-container select {
    margin: 0;
    background-color: var(--white);
    outline: none;
    border: 0;
    transition: 0.3s;
}

.edit-container input:hover, .edit-container select:hover {
    color: var(--red);
}

.edit-container input::-webkit-calendar-picker-indicator {
    filter: invert(20%) sepia(20%) saturate(300%) hue-rotate(0deg);
    transition: filter 0.3s ease-in-out;
}

.edit-container input:hover::-webkit-calendar-picker-indicator {
    filter: invert(24%) sepia(50%) saturate(500%) hue-rotate(-10deg);
}

/* Profile Page */

.profile-connections {
    margin: 40px;
}

.managebac-heading {
    margin-left: auto;
    margin-bottom: 40px;
}


.managebac-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
}

.modal-content-login {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 320px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15rem;
}

/* Close button style */
.close {
    color: #aaa;
    float: left;
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}


/* Additional stuff for loading tasks from ManageBac */

.modal-content-large {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Spinner style for loading modal */
.spinner {
    margin: auto;
    width: 30px;
    height: 30px;
    border: 6px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

/* Task section styling */
.task-section {
    margin-bottom: 20px;
}

.task-list {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.task-item {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

button.load-more {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}